body{
	font-family: helvetica, arial;
	background-color: #ee2346;
	color: white;
	-webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}

a{
    text-decoration: none;
    color: white;
}

.outer_container{
	width: 1050px;
	margin: auto;
	margin-top: 5%;
	display: none;
	padding-right: 140px;
}

h1, h2, h3, h4, h5, p, a, div, span{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1{
	line-height: 52px;
	font-size: 52px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding:0 ;
}

.h2{
	font-size: 20px;
}

.p_last{
	font-size: 15px;
	width: 380px;
}

.twitter{
	display: none;
	color: #ee2346;
	font-weight: bold;
	font-size: 28px;
	width: 130px;
	padding: 6px;
	padding-left: 8px;
	background-color: white;
	text-decoration: none;
	margin-top: 30px;
	margin-bottom: 30px;
}

.twitter_last_container{
	width: 100%;
	height: 30px;
	font-size: 12px;
}
.twitter_last_container span{
	margin: 0px 0px 10px 10px;
	position: relative;
	bottom: 4px;
}

.twitter_last{
	font-size: 14px;
	width: 128px;
	display: none;
	color: white;
	font-weight: normal;
	text-decoration: none;
	float: right;
}

.twitter_icon{
	width: 15px;
	height: 15px;
}

.twitter_tag{
	position: absolute;
	top: 400px;
}

.tribe_logo_container{
	width: 100%;
	height: 30px;
}

.svg{
	width: 95px;
	float: right;
}

.image img{
	float: left;
	width: 500x;
	height: 752px;
}

.copy{
	color: white;
	width: 550px;
	border-top: solid 6px white;
	border-bottom: solid 6px white;
	margin-bottom: 2%;
}

.outer_copy{
	margin-top: 32px;
	display: none;
}
.outer_copy .slick-current{
	display: block;
}

.colour1{
	background-color: #ee2346;
}
.colour1 .copy{
	color: white;
	border-top: solid 6px white;
	border-bottom: solid 6px white;
}
.colour1 span, .colour1 a{
	color: white;
}


.colour2{
	background-color: white;
}
.colour2 .copy{
	color: #ee2346;
	border-top: solid 6px #ee2346;
	border-bottom: solid 6px #ee2346;
}
.colour2 span, .colour2 a{
	color: #ee2346;
}


.colour3{
	background-color: #ee2346;
}
.colour3 .copy{
	color: white;
	border-top: solid 6px white;
	border-bottom: solid 6px white;
}
.colour3 span, .colour3 a{
	color: white;
}


.colour4{
	background-color: white;
}
.colour4 .copy{
	color: #ee2346;
	border-top: solid 6px #ee2346;
	border-bottom: solid 6px #ee2346;
}
.colour4 span, .colour4 a{
	color: #ee2346;
}


.colour5{
	background-color: #ee2346;
}
.colour5 .copy{
	color: white;
	border-top: solid 6px white;
	border-bottom: solid 6px white;
}
.colour5 span, .colour5 a{
	color: white;
}


.colour6{
	background-color: #ee2346;
}
.colour6 .copy{
	color: white;
	border-top: solid 6px white;
	border-bottom: solid 6px white;
}
.colour6 span, .colour6 a{
	color: white;
}
.colour6 .twitter_last{
	display: inline;
}
.colour6 .twitter{
	display: block;
	color: #ee2346;
}
.colour6 .tribe_logo, .colour6 .tribe_logo_div{
	display: inline;
}


/* ///////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1200px){
	
a{
    text-decoration: none;
    color: white;
}

.outer_container{
	width: 1050px;
	margin: auto;
	margin-top: 5%;
	display: none;
	padding-right: 140px;
}

h1, h2, h3, h4, h5, p, a, div, span{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1{
	line-height: 52px;
	font-size: 52px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding:0 ;
}

.h2{
	font-size: 20px;
}

.p_last{
	font-size: 15px;
	width: 380px;
}

.twitter{
	display: none;
	color: #ee2346;
	font-weight: bold;
	font-size: 28px;
	width: 130px;
	padding: 6px;
	padding-left: 8px;
	background-color: white;
	text-decoration: none;
	margin-top: 30px;
	margin-bottom: 30px;
}

.twitter_last_container{
	width: 100%;
	height: 30px;
	font-size: 12px;
}
.twitter_last_container span{
	margin: 0px 0px 10px 10px;
	position: relative;
	bottom: 4px;
}

.twitter_last{
	font-size: 14px;
	width: 128px;
	display: none;
	color: white;
	font-weight: normal;
	text-decoration: none;
	float: right;
}

.twitter_icon{
	width: 15px;
	height: 15px;
}

.twitter_tag{
	position: absolute;
	top: 400px;
}

.tribe_logo_container{
	width: 100%;
	height: 30px;
}

.svg{
	width: 95px;
	float: right;
}

.image img{
	float: left;
	width: 500x;
	height: 752px;
}

.copy{
	color: white;
	width: 550px;
	border-top: solid 6px white;
	border-bottom: solid 6px white;
	margin-bottom: 2%;
}

.outer_copy{
	margin-top: 32px;
	display: none;
}
.outer_copy .slick-current{
	display: block;
}


}



/* ////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 768px){

.image img{
	width:197px;
	height: 377px;
}

.outer_container{
	width: 500px;
}

h1{
	font-size: 15px;
}
h3{
	font-size: 13px;
}

p,	 span{
	font-size: 10px;
}


}



/* //////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 550px){

.image{
	width: 100%;
	text-align: center;
}

.image img{
	width:148px;
	height: 286px;
	float: none;
	padding-bottom: 5%;
}

.outer_container{
	width: 300px;
}

h1{
	font-size: 15px;
}
h3{
	font-size: 13px;
}

p,	 span{
	font-size: 10px;
}


}