/* Responsive */
@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700);
body:after {
  display: none; }
  @media (max-width: 670px) {
    body:after {
      content: "xs"; } }
  @media (max-width: 767px) {
    body:after {
      content: "ms"; } }
  @media (min-width: 768px) {
    body:after {
      content: "sm"; } }
  @media (min-width: 992px) {
    body:after {
      content: "md"; } }
  @media (min-width: 1200px) {
    body:after {
      content: "lg"; } }
  @media (min-width: 1600px) {
    body:after {
      content: "xl"; } }

.db {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 25px;
  background-color: #e2e1e3;
  z-index: 999; }

/* 
    Created on : 08-Sep-2015, 14:59:54
    Author     : Tribe | Kev 
*/
@font-face {
  font-family: 'NittiGrotesk-Extrabold';
  src: url("../fonts/nittigrotesk-extrabold-v20-webfont.eot");
  src: url("../fonts/nittigrotesk-extrabold-v20-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nittigrotesk-extrabold-v20-webfont.woff2") format("woff2"), url("../fonts/nittigrotesk-extrabold-v20-webfont.woff") format("woff"), url("../fonts/nittigrotesk-extrabold-v20-webfont.ttf") format("truetype"), url("../fonts/nittigrotesk-extrabold-v20-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*@import url(http://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic);*/
.arroInWrap {
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 100%; }
  .arroInWrap svg {
    position: absolute;
    display: block; }

/* Red */
/* Blue */
/* Yellow */
/* Grey */
/* ------------------------------DEFAULTS------------------------------ */
body {
  font-family: helvetica, arial;
  background-color: #ee2346;
  color: white;
  -webkit-transition: background-color 0.5s;
  /* Safari */
  transition: background-color 0.5s; }

.drink_aware {
  -webkit-transition: background-color 0.5s;
  /* Safari */
  transition: background-color 0.5s; }

.twitter_constant {
  -webkit-transition: background-color 0.5s;
  /* Safari */
  transition: background-color 0.5s; }

a {
  text-decoration: none;
  color: white; }

.container {
  float: right;
  position: relative; }

h1, h2, h3, h4, h5, p, a, div, span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.twitter_last {
  display: inline; }

.twitter {
  display: block;
  color: #ee2346; }

.tribe_logo, .tribe_logo_div {
  display: inline; }

.twitter_constant {
  z-index: 99999999; }

.svg {
  width: 95px;
  float: right; }

.outer_copy {
  margin-top: 32px;
  display: none; }

.mobile_show {
  display: none; }

/* ------------------------------MOBILE------------------------------ */
@media (max-width: 767px) {
  .outer_container {
    margin: auto;
    margin-top: 30px;
    display: none;
    width: 310px;
    padding-right: 0px; }
  .container {
    width: 310px; }
  h1 {
    line-height: 28px;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0; }
  .h2 {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 80px; }
  .p_last {
    font-size: 12px;
    width: 310px; }
  .twitter {
    display: block;
    color: #ee2346;
    font-weight: bold;
    font-size: 22px;
    width: 105px;
    padding: 6px;
    padding-left: 8px;
    background-color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px; }
  .twitter_last_container {
    height: 30px;
    font-size: 12px; }
  .twitter_last_container span {
    margin: 0px 0px 10px 10px;
    position: relative;
    bottom: 4px; }
  .twitter_last {
    font-size: 14px;
    width: 128px;
    display: inline;
    color: white;
    font-weight: normal;
    text-decoration: none;
    float: right; }
  .twitter_icon {
    width: 15px;
    height: 15px; }
  .twitter_tag {
    position: absolute;
    top: 400px; }
  .twitter_constant {
    position: absolute;
    top: 230px; }
  .tribe_logo_container {
    width: 100%;
    height: 30px; }
  .svg {
    width: 95px;
    float: right;
    margin-bottom: 20px; }
  .image {
    text-align: center; }
  .image img {
    float: none;
    width: 200px;
    height: 301px;
    padding-right: 60px;
    margin-bottom: -40px; }
  .copy {
    margin: auto;
    color: white;
    width: 310px;
    border-top: solid 6px white;
    border-bottom: solid 6px white;
    margin-bottom: 2%; }
  .outer_copy {
    margin-top: 0px;
    width: 310px;
    display: none; }
  .outer_copy .slick-current {
    display: block; }
  .mobile_show {
    display: inline; }
  .drink_aware {
    position: fixed;
    font-size: 9px;
    right: 0px;
    bottom: 0px;
    padding: 4px;
    color: white;
    z-index: 99999;
    width: 100%;
    text-align: right;
    background-color: #ee2346; } }

/* ------------------------------MEDIUM SCREEN------------------------------ */
@media (min-width: 768px) {
  .outer_container {
    width: 683px;
    margin: auto;
    margin-top: 5%;
    display: none;
    padding-right: 120px; }
  .container {
    width: 350px; }
  h1 {
    line-height: 30px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0; }
  .h2 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 80px; }
  .twitter {
    display: block;
    color: #ee2346;
    font-weight: bold;
    font-size: 20px;
    width: 96px;
    padding: 4px;
    padding-left: 8px;
    background-color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px; }
  .twitter_last_container {
    width: 100%;
    height: 30px;
    font-size: 12px; }
  .twitter_last_container span {
    margin: 0px 0px 10px 10px;
    position: relative;
    bottom: 4px; }
  .twitter_last {
    font-size: 14px;
    width: 128px;
    display: inline;
    color: white;
    font-weight: normal;
    text-decoration: none;
    float: right; }
  .twitter_icon {
    width: 15px;
    height: 15px; }
  .twitter_tag {
    position: absolute;
    top: 400px; }
  .twitter_constant {
    position: absolute;
    top: 251px; }
  .tribe_logo_container {
    width: 100%;
    height: 25px; }
  .svg {
    width: 85px;
    float: right; }
  .image img {
    float: left;
    width: 333px;
    height: 501px; }
  .copy {
    color: white;
    width: 350px;
    border-top: solid 6px white;
    border-bottom: solid 6px white;
    margin-bottom: 2%; }
  .outer_copy {
    margin-top: 11px;
    display: none; }
  .outer_copy .slick-current {
    display: block; }
  .mobile_show {
    display: none; }
  .drink_aware {
    position: fixed;
    font-size: 12px;
    right: 0px;
    bottom: 0px;
    padding: 4px;
    color: white;
    z-index: 99999;
    width: 100%;
    text-align: right;
    background-color: #ee2346; } }

/* ------------------------------LARGE SCREEN------------------------------ */
@media (min-width: 1200px) {
  .outer_container {
    width: 1050px;
    margin: auto;
    margin-top: 5%;
    display: none;
    padding-right: 180px; }
  .container {
    width: 550px; }
  h1 {
    line-height: 52px;
    font-size: 52px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0; }
  .h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 120px; }
  .p_last {
    font-size: 15px;
    width: 380px; }
  .twitter {
    display: block;
    color: #ee2346;
    font-weight: bold;
    font-size: 28px;
    width: 130px;
    padding: 6px;
    padding-left: 8px;
    background-color: white;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px; }
  .twitter_last_container {
    width: 100%;
    height: 30px;
    font-size: 12px; }
  .twitter_last_container span {
    margin: 0px 0px 10px 10px;
    position: relative;
    bottom: 4px; }
  .twitter_last {
    font-size: 14px;
    width: 128px;
    display: inline;
    color: white;
    font-weight: normal;
    text-decoration: none;
    float: right; }
  .twitter_icon {
    width: 15px;
    height: 15px; }
  .twitter_tag {
    position: absolute;
    top: 400px; }
  .twitter_constant {
    position: absolute;
    top: 375px; }
  .tribe_logo_container {
    width: 100%;
    height: 30px; }
  .svg {
    width: 95px;
    float: right; }
  .image img {
    float: left;
    width: 500px;
    height: 752px; }
  .copy {
    color: white;
    width: 550px;
    border-top: solid 6px white;
    border-bottom: solid 6px white;
    margin-bottom: 2%; }
  .outer_copy {
    margin-top: 32px;
    display: none; }
  .outer_copy .slick-current {
    display: block; }
  .mobile_show {
    display: none; }
  .drink_aware {
    position: fixed;
    font-size: 14px;
    right: 0px;
    bottom: 0px;
    padding: 4px;
    color: white;
    z-index: 99999;
    width: 100%;
    text-align: right;
    background-color: #ee2346; } }

/* ------------------------------COLOURS------------------------------ */
/* ------------------------------------------------------------------- */
.colour1 {
  background-color: #ee2346; }

.colour1 .twitter {
  color: #ee2346; }

.colour1 .drink_aware {
  color: white;
  background-color: #ee2346; }

.colour1 .copy {
  color: white;
  border-top: solid 6px white;
  border-bottom: solid 6px white; }

.colour1 span, .colour1 a {
  color: white; }

.colour2 {
  background-color: #ee2346; }

.colour2 .twitter {
  color: #ee2346; }

.colour2 .drink_aware {
  color: white;
  background-color: #ee2346; }

.colour2 .copy {
  color: white;
  border-top: solid 6px white;
  border-bottom: solid 6px white; }

.colour2 span, .colour2 a {
  color: white; }

.colour2 .twitter_last {
  display: none; }

.colour2 .tribe_logo, .colour2 .tribe_logo_div {
  display: none; }

.colour3 {
  background-color: white; }

.colour3 .twitter {
  color: white;
  background-color: #ee2346; }

.colour3 .drink_aware {
  color: #ee2346;
  background-color: white; }

.colour3 .copy {
  color: #ee2346;
  border-top: solid 6px #ee2346;
  border-bottom: solid 6px #ee2346; }

.colour3 span, .colour3 a {
  color: #ee2346; }

.colour4 {
  background-color: #ee2346; }

.colour4 .twitter {
  color: #ee2346;
  background-color: white; }

.colour4 .drink_aware {
  color: white;
  background-color: #ee2346; }

.colour4 .copy {
  color: white;
  border-top: solid 6px white;
  border-bottom: solid 6px white; }

.colour4 span, .colour4 a {
  color: white; }

.colour5 {
  background-color: white; }

.colour5 .twitter {
  color: white;
  background-color: #ee2346; }

.colour5 .drink_aware {
  color: #ee2346;
  background-color: white; }

.colour5 .copy {
  color: #ee2346;
  border-top: solid 6px #ee2346;
  border-bottom: solid 6px #ee2346; }

.colour5 span, .colour5 a {
  color: #ee2346; }

.colour6 {
  background-color: #ee2346; }

.colour6 .twitter {
  color: #ee2346;
  background-color: white; }

.colour6 .copy {
  color: white;
  border-top: solid 6px white;
  border-bottom: solid 6px white; }

.colour6 span, .colour6 a {
  color: white; }

.colour6 .twitter_last {
  display: inline; }

.colour6 .tribe_logo, .colour6 .tribe_logo_div {
  display: inline; }
